
/* #4a707a
#7697a0
#94b0b7
#c2c8c5
#ddddda */

* {margin: 0; padding: 0;}

html {
  font-family: "poppins";
  font-size: 10px;
}

body {
  margin: 0;
  background: url(assets/background3.jpg);
}

.grid {
  display: grid;
  grid-template: 75vh 25vh repeat(3, auto)/ 2fr 3fr;
  width: 1024px;
  margin: auto;
}

.grid section { 
  display: flex;
  flex-direction: column;
}

.img-box,
.about,
.my-skills,
.portfolio {
  align-items: flex-end;
 }

img,
.about *:first-child,
.my-skills *:first-child,
.portfolio *:first-child {
  margin-right: 80px;
  margin-top: 80px;
}

.about *,
.my-skills *,
.portfolio * {
  margin-right: 80px;
}

section h2 {
  font-size: 2rem;
  color: #394c52;
}

section p {
  font-size: 1.5rem;
}

.about-info *:first-child,
.footer-info *:first-child {
  margin-left: 80px;
  margin-top: 80px;
}

.about-info * {
  margin-left: 80px;
}

.img-box {
  justify-content: center;
  background: #c2c8c5dd;
}

img {
  
  border-radius: 100%;
}

.empty {
  height: 150px;
}

#info {
  justify-content: space-between;
  align-items: flex-start;
  background: #dddddaaa;
}

.name {
  margin-left: 80px;
}

.name h1 {
  margin-top: -25px;

  font-weight: 500;
  font-size: 7rem;
  color: #00356a;
  
}

.name h2 {
  font-weight: 200;
  font-size: 4rem;
}

.name p {
  font-weight: 300;
  font-size: 2rem;
}

section .contacts {
  width: 550px;
  align-self: center;
  border-top: 1px solid gray;
}

li {  
  display: inline-block;
  padding: 15px 30px 30px 30px;
  line-height: 4rem;

  font-size: 1.5rem;
}

.about {
  font-size: 1.6rem;
  background: #dddddadd;
}

.about-info {
  background: #c2c8c5aa;
}

.about-info p {
  font-size: 2rem;
}

.my-skills {
  font-size: 1.6rem;
  background: #c2c8c5dd;
}

.my-skills-info {
  background:#dddddaaa;
}

.grid-ins {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-auto-rows: 1fr;
  margin-top: 80px;
}

.grid-ins li {
  padding-top: 0;
  padding-bottom: 15px;
}

.portfolio-info .grid-ins {
  justify-items: center;
}

.portfolio {
  min-height: 200px;
  background: #dddddadd;
}

.portfolio-info {
  min-height: 200px;
  background: #c2c8c5aa;
}

.portfolio-info li {
  display: inline-block;
  box-sizing: border-box;
  width: 230px;
  margin-bottom: 80px;
  padding: 30px 30px;
  text-align: center;

  font-size: 3rem;
  font-weight: bold;

  background: #cccccc;
}

.footer {
  min-height: 200px;
  background: #ccccccdd;
}

.footer-info {
  min-height: 200px;

  font-size: 2rem;
  color: #303030;

  background: #c0c0c0dd;
}

a {
  color: #4d4d4d;
  text-decoration: none;
  
}